<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>NAVBAR BUTTON</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sideNav class="example-sidenav" mode="side" opened>
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="example-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
