.example-container {
  width: 15%;
  height: 100%;
  background-color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 100%;
}

h1 {
  margin: 0;
}
